__pycache__/
*.py[cod]
.env
.ipynb_checkpoints/

results/
outputs/
logs/

data/raw_images/
data/processed_images/
data/foreground_masks/
data/model_checkpoints/
data/attribution_arrays/
data/descriptor_maps/
data/manual_orientation_corrections.csv
data/metadata/

source_data/
validation/validation_results.csv

*.pth
*.pt
*.ckpt
